html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: #07131d;
}

#app {
  min-width: 320px;
  min-height: 320px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
